<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>
<ul>
  <% @cart.line_items.each do |item| %>
<!--    &times;是实体字符，意为'✖️'-->
    <li><%= item.quantity %> &times; <%= item.product.title %></li>
  <% end %>
</ul>

